<div class="jumbotron">
  <div class="container-mt-4">
    <div class="row">
      <div class="col-sm-6 center">
        <!-- stlpec s inzeratom -->
        <div class="card">
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>Typ</th>
                  <td>nnnnn</td>
                </tr>
                <tr>
                  <th>Typ</th>
                  <td>nnnnn</td>
                </tr>
                <tr>
                  <th>Typ</th>
                  <td>nnnnn</td>
                </tr>
                <tr>
                  <th>Typ</th>
                  <td>nnnnn</td>
                </tr>
                <tr>
                  <th>Typ</th>
                  <td>nnnnn</td>
                </tr>
                <tr>
                  <th>Typ</th>
                  <td>nnnnn</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-body">
              <p>Nazov</p>
              <p>Nazov</p>
    
              <p>Nazov</p>
    
              <p>Nazov</p>
              <p>Nazov</p>
              <p>Nazov</p>
          </div>

        </div>
      </div>
        <!-- stlpec s foto -->
        <div class="col sm-6">
          <div class="card">
              <div class="card-body">
                  <p>Nazov</p>
                  <p>Nazov</p>
        
                  <p>Nazov</p>
        
                  <p>Nazov</p>
                  <p>Nazov</p>
                  <p>Nazov</p>
              </div>       
    
          </div>
        </div>

      </div>
        <p>
            advertisement-detail works for add {{advertisement.id}} created by user {{advertisement.userId}}
        </p>
    </div>
</div>


