<div style="background-color: transparent !important;" class="jumbotron">
  <div class="container mt-5">
<h2>Admin</h2>
<div class="tab-panel">
  <tabset class="member-tabset">
    <tab heading="Správa používateľov">
      <div class="container">
          <app-user-managment></app-user-managment>

      </div>
    </tab>
    <tab heading="Správa kategórií">
      <div class="container">
          <app-categories-managment></app-categories-managment>

      </div>
    </tab>
  </tabset>
</div>

  </div>
</div>
