<div class="jumbotron">
    <div class="container mt-4">
        <div class="row">
          <div class="col-sm-4 kartis">
            <img class="card-img-top img-thumbnail img-fluid" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="{{user.userName}}">
            <div class="card-body">
              <div>
                <strong>Created:</strong>
                <p>{{user.created}}</p>
              </div>
            </div>
          </div>
      
          <div class="col-sm-8">
            <div class="tab-panel">
              <tabset>
                <tab heading="City {{user.userName}}" index="0">
                  <p>{{user.city}}</p>
                </tab>
                <tab heading="Country {{user.userName}}" index="0">
                    <p>{{user.country}}</p>
                </tab>
                <tab heading="Photos of {{user.userName}}" index="0">
                  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
</div>