<div class="wrapper">
  <div class="page-header section-dark">
    <div class="filter"></div>
    <div class="align-content-center">

          <ngb-carousel>
              <ng-template ngbSlide>
                <img src="../../assets/img-carousel/car1.jpg" alt="Random first slide">
                <div class="carousel-caption">
                  <h3>10 seconds between slides...</h3>
                  <p>This carousel uses customized default values.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="../../assets/img-carousel/car2.jpg" alt="Random second slide">
                <div class="carousel-caption">
                  <h3>No mouse events...</h3>
                  <p>This carousel doesn't pause or resume on mouse events</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="../../assets/img-carousel/car3.png"  alt="Random third slide">
                <div class="carousel-caption">
                  <h3>No keyboard...</h3>
                  <p>This carousel uses customized default values.</p>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>

    </div>

  <!-- <h1>
    Welcome to {{title}}!
  </h1> -->

  <!-- <app-value></app-value> -->
<div class="jumbotron">
  <div class="uvod">Vitajte na strankach Auto moto veterán klub Košice</div>
  <div>Sme fanusikovia aut nasa cinnost sa venuje renovovaniu starych aut a vsetkej cinnosti spojenej s renovaciu. Stretavame sa kazdy prvy stvrtok v mesiac v priestoroch <a href="https://www.google.com/maps/place/Ford+s.r.o./@48.7021527,21.2452583,17z/data=!3m1!4b1!4m5!3m4!1s0x473ee00fbeec0389:0x746d324abf259df9!8m2!3d48.7021527!4d21.247447">Silkar Kosice</a> </div> 
  <br>
  <p>
    V galerii najdete fotky z nasich akcii kde ste vsetci srdecne vitany nasa najblizsia akcia sa kona <a href="">TU </a> ak mate zaujem zucastnit sa so svojim vozidlo prihlaska najdete <a href="">TU </a>vitame vsetkych priaznivcov motorovych vozidiel rovnako ako stvorkolesovych
    tak aj dvojkolesovy. Dalej v nasej galerii mozte vidiet nasu pracu ako sme renovovali a aj sa poucit z historie tohto nadherneho konicku.
  </p>
            
</div>
